.form {
    display: flex;
    border-top: 4px solid #ff2e63;
    height: 40px;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    border-radius: 4px;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ff2e63;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
    height: 58px;
  }