.form {
    display: flex;
    border-top: 4px solid #ff2e63;
    height: 40px;
    background-color: #ff2e63;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    border-radius: 4px;
    height: 20px;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ff2e63;
    padding: 5%;
    display: inline-block;
    border: none;
    width: 20%;
    height: 58px;
  }

  @media (min-width: 320px) and (max-width: 480px) {
  .sendButton{
    height: 20px;
    padding-top: 10px;
  }
  }

  @media (min-width: 480px) and (max-width: 940px) {
    .sendButton{
      height: 20px;
      padding-top: 10px;
      padding-bottom: 0px;
    }

    .input{
      padding-bottom: 3%;
    }
  }
  @media(min-width:1200px){
    .input{
      padding-bottom:5% ;
    }
  }